h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
body{
        font-family: 'Poppins', sans-serif;
        margin: 0%;
}

.rong{
    color: darkgreen;
}

.less-width{
    width: 50%;
    padding-left: 5%;
    padding-bottom: 50px;
}

.less-width p{
    padding-bottom: 50px;
}
.less-width img{
    width: 60%;
    margin-top: 50px;
    border-radius: 5%;
}
.flexible{
    display: flex;
    margin-bottom: 100px;
}

.background{
    background-image: url(image/keto-background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.button-link{
    text-decoration: none;
    border-color: white;
    border-radius: 30px ;
    background-image: linear-gradient(blue,red);
    padding: 5px 20px;
    color: white;
}

#middle{
    text-align: center;
    color: grey;
    padding-left: 25%;
}

.food-item{
    width: 25%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-left: 3%;
    margin-right: 3%;
    box-shadow: 10px 10px 50px black;
    border-radius: 10px;
}

.food-item img{
    border-radius: 20px;
    width: 100%;
}

footer{
    color: white;
    padding-top: 30px;
    padding-bottom: 40px;
    background: darkslateblue ;
    text-align: center;
}
